{% extends "book/base_book.html" %}
{% block content %}
    {% if books %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Count</th>
                <th scope="col">Authors</th>
                <th scope="col">Delete
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.count }}</td>
                    {% if book.authors.count == 0 %}
                        <td> -</td>
                    {% else %}
                        <td>
                            {% for author in book.authors.all %}
                                {{ author.name }} {{ author.surname }} <br>
                            {% endfor %}
                        </td>
                    {% endif %}
                    <td>
                        <a href="delete/{{ book.id }}">
                            <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                        </a>
                    </td>
                    <td>
                        <a href="edit/{{ book.id }}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="col-12 text-center">
            <h2 class="font-weight-light">
                There is no books!
            </h2>
        </div>

    {% endif %}


{% endblock %}